//======================= ПРОСТЫЕ ИНПУТЫ

//======================= КНОПКИ
.clear-button{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.button-base{

}


//======================= ЧЕКБОКС


//======================= RADIOBUTTON


//======================= SELECT